body {
  background-color: black;
  margin: 0%;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}
/* comienzo del header */
.titulo {
  text-align: center;
}

.head {
  display: flex;
}
.portada {
  height: 500px;
  width: 2000px;
}
/* fin del header */

/* comienzo del cuerpo */

.cuerpo {
  display: flex;
  justify-content: center;
}
.texto {
  justify-content: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 90px;
}
.imagenes1 {
  margin-right: 50px;
  width: 500px;
  height: 300px;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
}
/* fin del cuerpo */

/* comienzo de carasteristicas  */

.carasteristicas {
  background-color: #1e1a13;
 text-align: center;
  padding: 120px;
}

.titulo2{
margin-top: -80px;
margin-bottom: 60px;
}

.iconos{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  
}
.parrafo{
  display: flex;
  justify-content: space-around;
  margin-left: px;
  margin-top: 20px;
  font-size: 20px;
}
.tercerojo{
  margin-left: 15px;
}
.pacifista{
  margin-left: 40px;
}

.imagenes {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

.imagenesblock {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* fin de  carasteristicas   */

/* comienzo del footer */

footer {
  background-color: #1e1a13;
  padding: 30px;
  margin-top: 50px;

}
.link{
margin-left: 350px;
color:aliceblue;

}

/* fin del footer */