
.nav-link{
  margin-right: 6rem;
}
a{
    
    margin-left: auto;
}

.img-fluid{
height: 10rem;
width: 15rem;

}

 
 h1,h2{
    font-size: xx-large;
    text-align: center;
    margin-top: rem;
  }
  .row{
    text-align: center;
  }
  .caja{
    
  padding: 5rem;
  }
  .vida{
    text-align: center;
  }
.img-fluid{
  align-content: center;
}


.fa-brands:hover {
  color: #ff5733; 
  transform: scale(1.2); 
  transition: transform 0.3s ease, color 0.3s ease; 
}

.fa-solid:hover
{
  color: #ff5733; 
  transform: scale(1.2); 
  transition: transform 0.3s ease, color 0.3s ease; 

} 

footer{

  background-color: #198754;
  padding: 1.5rem;
  
}
.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
